* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
}

#calculator {
    width: 400px;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin-top: 3vh;
    background-color: gray;
    border-radius: 25px;
}

.input-screen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-wrap: anywhere;
    overflow-y: auto;

    width: 85%;
    max-height: 100%;
    margin-top: 20px;

    background-color: black;

    color: rgb(117, 255, 117);
}

#input {
    max-height: 100%;
    font-size: 4em;
}

#input-history {
    max-height: 100%;
}

#calculator-buttons {
    flex-shrink: 0;
    width: 85%;
    height: 450px;  
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.6vw 0.6vw;


    background-color: gray;
    padding: 0.5vw;
}

.btn-calc {
    background-color: rgb(53, 53, 53);
    
    border-radius: 15px;
    box-shadow: 0 3px black;

    color: white;
    font-size: 1em;
}

#btn-1 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
}
#btn-2 {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
}
#btn-3 {
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
}
#btn-4 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}
#btn-5 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
}
#btn-6 {
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
} 
#btn-7 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}
#btn-8 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}
#btn-9 {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}
#btn-0 {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
}
#btn-de {
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
}
#btn-op-pl {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
}
#btn-op-mi {
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
}
#btn-op-mu {
    grid-row: 3 / span 1;
    grid-column: 4 / span 1;
}
#btn-op-di {
    grid-row: 4 / span 1;
    grid-column: 4 / span 1;
}
#btn-op-de {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}
#btn-op-cl {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}
#btn-op-eq {
    grid-row: 5 / span 1;
    grid-column: 3 / span 2 ;
}